@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer utilities {
  .striped tr:nth-child(odd) {
    @apply bg-slate-400;
  }

  td:first-child, th:first-child {
    @apply pl-10;
  }

  td:last-child, th:last-child {
    @apply pr-10;
  }
}